:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Roboto',Raleway,Arial, Helvetica, sans-serif;
}
.mainContainer{
  background-color: var(--thirdColor);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 10% 40% 40%;
  position: fixed;
  z-index: 0;
}
.picContainer{
  background-color: var(--secondaryColor);
}
.infoContainer{
  background-color: var(--myLink);
  grid-column-start: 1;
  grid-column-end: 3;
}
.search{
  position: relative;
  width: 35%;
  height: 30px;
  align-self: center;
  border: 1px solid;
  border-color: var(--linkColor);
  background-color: var(--thirdColor);
  caret-color: var(--fontColor);
  border-left: none;
  outline: none;
  color: var(--fontColor);
}
.search::placeholder{
  color: var(--linkColor);
}
.fa-magnifying-glass{
  color: var(--fontColor);
  padding-top: 7px;
  display: block;
}
.searchIcon{
  position: relative;
  width:35px;
  height: 32px;  
  border: 1px solid;
  border-color: var(--linkColor);
  background-color: var(--thirdColor);
  caret-color: transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: none;
  align-self: center;
  right:-20px;
  z-index: 0;
 }
.searchIconRight{
  width:50px;
  height: 32px;  
  border: 1px solid;
  border-color: var(--linkColor);
  background-color: var(--linkColor);
  caret-color: transparent;
  align-self: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: none;
  text-align: center;
}
.leftSearchIcon{
  padding-left: 16px;
}
.searchBar{
  display: flex;
  justify-content: center;
}
.blogCategories{
  color: var(--fontColor);
  display: grid;
  grid-template-columns: 4% 7% 6% 6% 8% 13% 9% 4% 7% 12%;
  margin: 5px 6%;
  text-align: center;
  grid-gap: 2px; 
}
.folder{
  font-size: 1em;
  background-color: var(--myLink);
  height: 28px;
  padding-top: 7px;
  border-top-left-radius: 6px;
  caret-color: transparent;
}