:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Roboto,Raleway;
}
.navContainer{
  display: grid;
  grid-template-columns: 30% 6% 12% 9% 8% 6% 20% 5%;
  background-color: var(--thirdColor);
  color: var(--fontColor);
  height: 2rem;
  align-items: center;
  
  text-align: center;
}
.logoContainer img{
  height: 1.5rem;
}
.navMenu{
  font-size: .7rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding-top: 5px;
}
.fa-solid{
  position: absolute;
  animation-name: round;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.houseIcon{
  top: 7px;
  left:32.2%;
}
.homeContainer:hover{
  background-color: var(--ligtherthird);
}
.fireIcon{
  top: 7px;
  left:41.2%;
}
.popularPostContainer:hover{
  background-color: var(--ligtherthird);
}
.listIcon{
  top: 7px;
  left:52%;
}
.categoriesContainer:hover{
  background-color: var(--ligtherthird);
}
.archiveIcon{
  top: 7px;
  left:60.5%;
}
.archivesContainer:hover{
  background-color: var(--ligtherthird);
}
.cardIcon{
  top: 7px;
  left:67.1%;
}
.aboutContainer:hover{
  background-color: var(--ligtherthird);
}
.menus{
  height: 23px;
  cursor: pointer;
  margin-bottom: 7px;
  border-radius: 4px;
}
.profile{
  display: flex;
}
.fa-user{
  position: absolute;
  top: 8px;
  font-size: .7rem;
}
.burgerTop{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  top: 8px;
  right: 7.5%;
}
.burgerMid{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  right: 7.5%;
  top: 14px;
}
.burgerBot{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  right: 7.5%;
  top: 20px;
  z-index: 99;
}
.burgerCon{
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  
}
.burgerMenusContainer{
  display: grid;
  margin-top: 1px;
  background-color: var(--thirdColor);
  width: 200px;
  float: right;
  color: var(--fontColor);
  height: 200px;
  align-items: center;
}
.burgerIcons{
  right: 92px;
}
.burgerHomeContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerPopularPostContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerCategoriesContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerArchivesContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerAboutContainer:hover{
  background-color: var(--ligtherthird);
}
.bMenus{
  height: 25px;
  cursor: pointer;
}
@keyframes round {
  100%   {
    transform: rotate3d(.0, .1, .0, 360deg);
  }
}
/*-------------media query-------------*/
@media screen and (max-width: 740px){
  .menus{
    visibility: hidden;
  }
}
