:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Roboto',Raleway, Arial, Helvetica, sans-serif;
}
.navContainer{
  display: grid;
  grid-template-columns: 10% 20px 18%  6% 12% 9% 8% 6% 19% 5%;
  background-color: var(--thirdColor);
  color: var(--fontColor);
  height: 2rem;
  align-items: center;
  text-align: center;
  caret-color: transparent;
}

.redLogo{
  background-color: rgba(255, 0, 0, 0.7);
  height: 18px;
  width: 18px;
  position: absolute;
  left: 144px;
  top: 5px;
  border-radius: 50%;
  animation-name: changeColor1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.greenLogo{
  background-color: rgba(0, 255, 0, 0.7);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 3px;
  left: 132px;
  border-radius: 50%;
  animation-name: changeColor2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.blueLogo{
  background-color: rgba(0, 0, 255, 0.7);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 11px;
  left: 134px;
  border-radius: 50%;
  animation-name: changeColor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.redBack{
  background-color: var(--myLink);
  height: 21px;
  width: 21px;
  top: 4px;
  left: 143px;
  position: absolute;
  border-radius: 50%;
}
.greenBack{
  background-color: var(--myLink);
  height: 21px;
  width: 21px;
  left: 130.2px;
  top: 1px;
  position: absolute;
  border-radius: 50%;
}
.blueBack{
  background-color: var(--myLink);
  height: 21px;
  width: 21px;
  position: absolute;
  top: 10px;
  left: 132px;
  border-radius: 50%;
}

.navMenu{
  font-size: .7rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding-top: 5px;
}
.navIcon{
  position: absolute;
  animation-name: round;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.houseIcon{
  top: 7px;
  left:32.2%;
}
.homeContainer:hover{
  background-color: var(--ligtherthird);
}
.fireIcon{
  top: 7px;
  left:41.2%;
}
.popularPostContainer:hover{
  background-color: var(--ligtherthird);
}
.listIcon{
  top: 7px;
  left:52%;
}
.categoriesContainer:hover{
  background-color: var(--ligtherthird);
}
.archiveIcon{
  top: 7px;
  left:60.5%;
}
.archivesContainer:hover{
  background-color: var(--ligtherthird);
}
.cardIcon{
  top: 7px;
  left:67.1%;
}
.aboutContainer:hover{
  background-color: var(--ligtherthird);
}
.menus{
  height: 23px;
  cursor: pointer;
  border-radius: 4px;
}
.profile{
  display: flex;
}
.myProfile{
  position: absolute;
  top: 8px;
  font-size: .7rem;
}
.burgerTop{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  top: 8px;
  right: 7.5%;
}
.burgerMid{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  right: 7.5%;
  top: 14px;
}
.burgerBot{
  background-color: var(--fontColor);
  height: 1.4px;
  width: 25px;
  position: absolute;
  right: 7.5%;
  top: 20px;
}
.burgerCon{
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  display: none;
  caret-color: transparent;
  z-index: 99;
}
.burgerMenusContainer{
  display: grid;
  margin-top: 1px;
  background-color: #21435ea1;
  width: 120px;
  float: right;
  color: var(--fontColor);
  height: 200px;
  align-items: center;
  caret-color: transparent;
  position: relative;
  z-index: 99;
}
.burgerIcons{
  right: 92px;
  padding-top: 5px;
}
.burgerHomeContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerPopularPostContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerCategoriesContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerArchivesContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerAboutContainer:hover{
  background-color: var(--ligtherthird);
}
.burgerProfileContainer:hover{
  background-color: var(--ligtherthird);
}
.bMenus{
  height: 30px;
  cursor: pointer;
}
.hr{
  height: 1px;
  width: 100px;
  background-color: var(--myLink);
  justify-self: center;
}
a{
  color: var(--fontColor);
}
@keyframes round {
  100%   {
    transform: rotate3d(.0, .1, .0, 360deg);
  }
}
@keyframes changeColor {
  3%{
    background-color: rgba(255, 0, 0, 0.7);
  }
  36%{
    background-color: rgba(0, 128, 0, 0.7);
  }
  69%{
    background-color: rgba(0, 0, 255, 0.7);
  }
}
@keyframes changeColor1 {
  36%{
    background-color: rgba(255, 0, 0, 0.7);
  }
  69%{
    background-color: rgba(0, 128, 0, 0.7);
  }
  3%{
    background-color: rgba(0, 0, 255, 0.7);
  }
}
@keyframes changeColor2 {
69%{
    background-color: rgba(255, 0, 0, 0.7);
  }
  3%{
    background-color: rgba(0, 128, 0, 0.7);
  }
  36%{
    background-color: rgba(0, 0, 255, 0.7);
  }
}

/*-------------media query-------------*/
@media screen and (width > 741px){
  .burgerMenusContainer{
    display:none;
  }
}
  

@media screen and (max-width: 740px){
  .menus{
    visibility: hidden;
  }
  .burgerCon{
    display: block;
  }
}
