:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #2a3638;
  --secondaryColor: #677688;
  --thirdColor: #e2e7ec;
  --ligtherthird: #f6f8fa;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Roboto',Raleway, Arial, Helvetica, sans-serif;
  background-color: var(--thirdColor);
  color: var(--fontColor);
  position: relative;
}
h3{
  font-weight: 400;
  position: relative;
  z-index: 99;
  top: -40px;
  padding-left: 33px;
}
.firstDiv{
  position: relative;
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 13%;
  height: auto;
  gap: 10px;
  bottom: -60px;

}
.secondDiv{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 50px 50px 50px 50px 50px 50px ;

}
.parentDiv{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 99;
  background-color: var(--thirdColor);
  top: 50px;
}

.images{
  height:380px;
  width: 600px;
  border-radius: 5px;  
}
.blogContainer{
  display:grid;
  grid-template-rows:380px auto;
  width:600px;
  margin:5px 5px;
  border-radius:5px;
  box-shadow: 1px 1px 3px var(--myLink);
}
.blogTitle{
  text-align: center;
  margin: 0px 5px;
  margin-left: 45px;
  margin-right: 2px;
}
.creatorPic{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 40%;
  margin-left: 1px;
  position: relative;
  top: -30px;
  box-shadow: 1px 1px 3px var(--myLink);
}
.blogFooter{
  display: grid;
  grid-template-columns: 1px 589px 10px;
  background-color: var(--thirdColor);
  height: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px ;
  padding-bottom: 4px;
}
.blogInfo{
  background-color: var(--secondaryColor);
  width: 100%;
}
.intro{
  text-align: justify;
  font-size: .9em;
  margin-left: 5px;
}
.dot1, .dot2, .dot3{
  background-color: var(--fontColor);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-bottom: 1px;
  caret-color: transparent;
}
.closeOpen{
  
  padding-top: 5px;
  height: 25px;

}
.editDelete{
  position: relative;
  width: 60px;
  left: -65px;
  top: -30px;
  background-color: var(--ligtherthird);
  color: var(--fontColor);
  border-radius: 5px;
  text-align: center;
  display: none;
  box-shadow: 1px 1px 3px var(--myLink);
}
.edit:hover{
  cursor: pointer;
  color: var(--myLink);
}
.delete{
  background-color: var(--ligtherthird);
  border: none;
  color: var(--fontColor);
}
.delete:hover{
  cursor: pointer;
  color: var(--myLink);
}
.blogIdCOn{
  display: none;
}
.deleteAlert{
  font-size: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  display: none;
  z-index: 99;
}
.viewBlog{
  position: relative;
  height: 1.2em;
  width: 84%;
  margin-left: 60px;
  cursor: pointer;
}


@media(width < 1300px){
  .firstDiv{
    margin-left: 5%;
  }
}
@media(width < 1100px){
  .firstDiv{
    margin-left: 15%;
    grid-template-columns: 70%;
  }
}
@media(width < 900px){
  .firstDiv{
    margin-left: 5%;
    grid-template-columns: 70%;
  }
}
@media(width < 600px){
  .firstDiv{
    margin-left: 2%;
    grid-template-columns: 70%;
  }
 .blogContainer{
 width: 250px; 
 height: 160px;
 grid-template-rows:110px 50px;
 margin-top: 20px;
 } 
 .blogFooter{
  grid-template-columns: 45px 200px 5px;
  height: 50px;
}
.creatorPic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 2px;
}
.images{
  height:160px;
  width: 250px;
  border-radius: 5px;
  
}
}