:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.myBody{
  font-family:  'Roboto',Raleway, Arial, Helvetica, sans-serif;
  background-color: var(--ligtherthird);
  color: var(--fontColor);
  padding-left: 2em;
  padding-top: 2em;
  caret-color: transparent;
  position: relative;
  z-index: 99;
}
.prPic{
  font-size: .5em;
}
label{
  position: relative;
  bottom: -50px;
}

.profileImage{
  height: 250px;
  width: 250px;
  background-color: var(--primaryColor);
  border-radius: 50%;
}
.textInfo{
  font-size: 1.7em;
  margin-bottom: .3em;
  
}
.emailInfo{
  font-size: 2em;
  font-weight: bold;
}

.division{
  display:grid;
  grid-template-columns: 22% 1fr;
}

/* @media (width < 800px){
  .division{
    grid-template-columns: 200px 1fr;
  }
}
@media (width < 600px){
  .division{
    grid-template-columns: 100px 1fr;
  }
} */