:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.myBody{
  font-family:  'Roboto',Raleway, Arial, Helvetica, sans-serif;
  background-color: var(--ligtherthird);
  color: var(--fontColor);
  padding-left: 2em;
  padding-top: 2em;
  caret-color: transparent;
  position: relative;
  z-index: 99;
}
.prPic{
  font-size: .5em;
}
.labelDiv{
  position: absolute;
  bottom: 70px;
  left: 240px;
  background-color: var(--fontColor);
  height: 27px;
  width: 30px;
  border-radius: 50%;
  padding-top: 3px;
}
.okLabel{
  font-size: 1.5rem;
  justify-self: center;
}
.labelOk{
  position: absolute;
  bottom: 70px;
  left: 240px;
  height: 30px;
  width: 28px;
  background-color: var(--fontColor);
  border-radius: 50%;
  color: var(--thirdColor);
  padding-left: 2px;
  padding-top: 1px;
  display: none;
}
.okLabel:hover{
  cursor: pointer;
  color: var(--myLink);
}
.fileInputLabel{
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  color: #1a3950;
}
.fileInputLabel:hover{
  color: var(--myLink);
}
.profileImage{
  height: 250px;
  width: 250px;
  background-color: var(--myLink);
  border-radius: 50%;
}
.textInfo{
  font-size: 1.7em;
  margin-bottom: .3em;
  
}
.emailInfo{
  font-size: 2em;
  font-weight: bold;
}

.division{
  display:grid;
  grid-template-columns: 22% 1fr;
}
.profilePic{
  height: 2em;
  width: 3em;
  display: none;
}
img{
  height: 235px;
  width: 235px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 3%;
  transform: translateX(50%);
  transform: translateY(-50%);
}
/* @media (width < 800px){
  .division{
    grid-template-columns: 200px 1fr;
  }
}
@media (width < 600px){
  .division{
    grid-template-columns: 100px 1fr;
  }
} */