:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #2a3638;
  --secondaryColor: #677688;
  --thirdColor: #e2e7ec;
  --ligtherthird: #f6f8fa;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondaryColor);
}
.sidebarContainer{
  background-color: var(--thirdColor);
  display: grid;
  width: 4.5%;
  font-family: Raleway,'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  padding-top: .5em;
  font-size: 1.4em;
  grid-template-rows: 100px 60px 60px 60px 40px 60px 60px 60px;
  caret-color: transparent;
  border-right: var(--myLink) 2px solid;
  position: fixed;
  top: 0;
  z-index: 0;
}
.sideText{

  display: grid;
  width: 130px;
  font-family: Raleway,'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  padding-top: .5em;
  font-size: .9em;
  grid-template-rows: 100px 60px 60px 60px 40px 60px 60px 60px;
  caret-color: transparent;
  position: absolute;
  top: 5px;
  right: -100px;
  text-align: start;
  z-index: 99;
  color: var(--ligtherthird);
}
.side{
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  justify-items: center;  
}
.sideSide{
  position: fixed;
  z-index: 99;
  left: 105px;
  top:0px;
  width: fit-content;
  
}
.side{
  background-color: var(--fontColor);
  padding-top: 10px;
  visibility: hidden;
}
.side:hover{
  font-size: 1.1em;
}
.accountNo{
  padding-left: 10%;
}
.account{
  font-size: 1.3em;
}
.sideBarHome, .yourInfo, .manageYourAccount,.createBlog, .logout{
  padding-top: 12px;
  padding-left: 30%;
}
.hoverColor:hover{
  
  background-color: var(--fontColor);
  cursor: pointer;
}
.hoverColor:hover a{
  color: var(--ligtherthird);
}
.hoverColor:hover .logout{
  color: var(--ligtherthird);
}
a{
  color: var(--fontColor);
  height: 50px;
  text-decoration: none;
}


@media (width < 900px){
  .sideText{
    right: -80px;
  }
}
@media (width < 800px){
  .sidebarContainer{
    font-size: .8em;
    width: 5.5%;
    grid-template-rows: 100px 40px 40px 80px 40px 40px 40px 40px;;
  }
  .sideText{
    right: -70px;
  }
}
