:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--thirdColor);
}
.sidebarContainer{
  background-color: var(--thirdColor);
  color: var(--myLink);
  display: grid;
  width: 21.7%;
  font-family: Raleway,'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  padding-top: .5em;
  font-size: .9em;
  grid-template-rows: 100px 40px 40px 40px 40px 40px 40px 40px;
  caret-color: transparent;
  border-right: var(--myLink) 2px solid;
  position: fixed;
  top: 0;
  z-index: 0;
}
.account{
  padding-left: 1em;
  font-size: 1.3em;
}
.sideBarHome, .yourInfo, .manageYourAccount,.createBlog, .logout{
  padding-top: 12px;
  padding-left: 1em;
}
.hoverColor:hover{
  background-color: var(--ligtherthird);
  cursor: pointer;
}

a{
  color: var(--fontColor);
  height: 40px;
  text-decoration: none;
}
.yourInfo{
  color: var(--myLink);
}
.createBlog{
  color: var(--myLink);
}

@media (width < 600px){
  .sidebarContainer{
    font-size: .8em;
    grid-template-rows: 100px 40px 40px 80px 40px 40px 40px 40px;;
  }
}
