:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #2a3638;
  --secondaryColor: #677688;
  --thirdColor: #e2e7ec;
  --ligtherthird: #f6f8fa;
  --transparent: #2a363870;
  --myLink: #2da7dd; 
  --warning: rgba(252, 222, 89, .7);
  --danger: rgba(252, 89, 89, .7);
  --success: rgba(89, 252, 103, .7);

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.heads{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
}
.myBody{
  font-family:  'Roboto',Raleway, Arial, Helvetica, sans-serif;
  background-color: var(--thirdColor);
  color: var(--fontColor);
  caret-color: transparent;
}
.container{
  position: absolute;
  width: 70%;
  display: grid;
  grid-template-rows: 1px auto;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
}
.greet{
  height: 1.5em;
  position: absolute;
  margin-top: 20px; 
  justify-content: center;
  width: 130px;
  left: 50%;
  transform: translateX(-50px);
}
.greetText{
  font-size: 1.5em;
  padding-left: 160px;
  position: absolute;
  transform: translateX(-55%);
  top: -180px;
  
}
.name{
  font-size: 2em;
  color: var(--secondaryColor);
  position: absolute;
  top: -170px;
  left:53%;
  transform: translateX(-50%);
}
.botText{
  font-family: 'dancing Script', Arial, Helvetica, sans-serif;
  position: absolute;
  top: -100px;
  transform: translateX(14%);
}
.botCon{
  display: grid;
  width: auto;
  grid-template-columns: 9.4fr 2.6fr;

  gap: 2px;
}
.picCon{
  height: 180px;
  width: 150px;
  border-radius: 5px;
  align-self: center;
}
.leftCon{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  gap: 25px;
}
.rightCon{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
 
}

.blogContainer{
  height: auto;
  width: 95%;
  background-color: var(--thirdColor);
  margin: 5px 5px;
  padding: 0px 10px ;
  border-radius: 10px;
  box-shadow: .5px .5px 2px var(--transparent);
}
.blogPicture{
  height: 250px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--transparent);
}
.topCon{
  width: 100%;
  height: 10px;
}
.blogInfo{
  text-align: justify;
}
.title{
  text-align: center;

}
.intro{
  text-align: justify;
}
.love{
  width: 100%;
  text-align: center;
  color: red;
}
.work{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: var(--secondaryColor);
}
.bio{
  position: sticky;
  top: 80px;
}
.study{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: var(--secondaryColor);
}
.bday{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: var(--secondaryColor);
}
.live{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: var(--secondaryColor);
}
.link{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: var(--secondaryColor);
}
.cen{
  width: 100%;
  text-align: center;
}
.mlink{
color: maroon;
}
.flink{
color: blue;
width: 100%;
text-align: center;
}
.pNum{
  width: 100%;
  text-align: center;
}
.phone{
  color: #2DA7DD;
}
.since{
  margin-top: 20px;
  font-size: .8em;
}

@media(width < 700px) {
  .botCon{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  

  }
   
}