:root{
  --linkColor: #2DA7DD;
  --primaryColor: #89A7AB;
  --fontColor: #EFF4F5;
  --secondaryColor: #677688;
  --thirdColor: #1a3950;
  --ligtherthird: #21435e;
  --myLink: #2da7dd; 

}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Roboto',Raleway,Arial, Helvetica, sans-serif;
}
h2{
  font-weight: 400;
  padding-left: 20px;
}
.createBlogContainer{
  background-color: var(--thirdColor);
  height: 100%;
  display: grid;
  grid-template-rows:  50px 100px 15% 40% 20px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  color: var(--fontColor);
  
}
.category{
  margin-top:20px;
  margin-left: 20px;
}
.categoryInput{
  width: 20%;
  height: 30px;
  outline: var(--myLink);
  margin-left: 10px;
}
.titleInput{
  width: 60%;
  height: 30px;
  outline: var(--myLink);
}
.title{
  margin-top:20px;
  margin-left: 20px;
}
.introduction{
  margin-top:20px;
  margin-left: 20px;
}
.introductionInput{
  width: 95%;
  outline: var(--myLink);
  margin-left: 0px;
}
.content{
  margin-top:20px;
  margin-left: 20px;
}
.contentInput{
  width: 95%;
  outline: var(--myLink);
  margin-left: 0px;
}
input{
  font-size: 1em;
  color: var(--secondaryColor);
}
textarea{
  font-size: 1.3em;
  color: var(--secondaryColor);
}
select{
  color: var(--secondaryColor);
}
.uploadImage{
  display: none;
}
.uploadImg{
  padding-left: 5px;
}
.division{
  display:grid;
  grid-template-columns: 22% 1fr;
}
.uploadBlog{
  height: 25px;
  width: 3em;
}
.imgLabel{
  background-color: var(--primaryColor);
  height: 40px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  border-radius: 8px;
  color: var(--ligtherthird);
  cursor: pointer;
  caret-color: transparent;
  box-shadow: 1px 1px 3px var(--myLink);
}
label{
  cursor: pointer;
  
}
.labelText{
  color: var(--fontColor);
  font-size: 1rem;
  padding-left: 20px;
}
.labelText:hover{
  color: var(--myLink);
}
.labelCon{
  display: flex;
  justify-content: space-between;
}
.imgLabel:hover{
  color: var(--myLink);
}
.uploadBlog{
  width: 50%;
  height: 35px;
  background-color: var(--secondaryColor);
  color: var(--fontColor);
  border: none;
  box-shadow: 1px 1px 3px var(--myLink);
  border-radius: 5px;
  cursor: pointer;
}
.uploadBlog:hover{
  color: var(--myLink);
  background-color: var(--ligtherthird)
}
.con{
  display: flex;
  width: 95%;
  justify-content: space-between;
  position: relative;
  bottom: -10px;
  height: fit-content;
  align-items: end;
}
.myAlertElement{
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  display: none;
}